@page "/"
@page "/Login"
@layout LoginLayout
@inject IAuthService  AuthService
@inject NavigationManager navman
@inject ILocalStorageService _localStorage


<div class="card shadow-lg col-sm-7 col-md-5 col-xl-3 m-auto rounded-lg px-0 logincard">
    <div class="card-header px-4 py-3 text-center">
        <span class="oi oi-lock-locked font-weight-bold text-lg-center"></span>
        <h5 class="text-secondary">
            <b>KMT</b> smart
        </h5>
    </div>
    <div class="card-body pb-3">
        <p class="login-box-msg">Sign in to start your session</p>
        <EditForm Model="@loginModel" OnValidSubmit="@HandleLogin">
            <div class="input-group mb-3">
                <InputText class="form-control" Placeholder="Email" @bind-Value="@loginModel.Email" />
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="oi oi-envelope-closed"></span>
                    </div>
                </div>
            </div>
            <div class="input-group mb-3">
                <InputText class="form-control" Placeholder="Password" type="password" @bind-Value="@loginModel.Password" />
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="oi oi-key"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-8">
                    <div class="icheck-primary">
                        <input type="checkbox" id="remember">
                        <label for="remember">
                            Remember Me
                        </label>
                    </div>
                </div>
                <div class="col-4">
                    <button type="submit" class="btn btn-primary btn-block">Giriş</button>
                </div>
            </div>
        </EditForm>

        <p class="mb-1">
            <button class="btn btn-link" type="button" @onclick="ForgotPassword">I forgot my password</button>
        </p>
        <p class="mb-0">
            <button class="btn btn-link" type="button" @onclick="Register"><i class="fa fa-sign-in-alt pr-3"></i>Register a new membership</button>
        </p>
    </div>
</div>
@code {

    LoginModel loginModel = new LoginModel();

    protected async override Task OnInitializedAsync()
    {
        await _localStorage.RemoveItemAsync("token");
    }

    private async Task HandleLogin()
    {
        var result = await AuthService.Login(loginModel);
        if (result) navman.NavigateTo("devices",true);
    }

    private void ForgotPassword()
    {
        navman.NavigateTo("forgotPass");
    }

    private void Register()
    {
        navman.NavigateTo("register");
    }
}
